<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
          <!-- Dropdown to select Menu category-->
          <%= form_tag menu_index_path, method: "get", class: "form-menu" do %>
            <%= select_tag 'category', options_for_select(['Appetizer', 'Salad/Soup', 'Pizza', 'Pasta', 'Sandwiches', 'Desert']), class: 'form-control form-group' %>
            <%= submit_tag 'Submit', class: 'btn btn-default' %>
          <% end %>

      <!-- If category has not been selected -->
      <% if !@display_menu %>
        <%= "Choose a category" %>
      <!-- If category has been selected -->  
      <% else %> 
        <h2 class="text-center"><%= @category %></h2>
        <% @display_menu.each do |item| %>
          <div class="well">  
            <h3><%= item.name %></h2>
            <p>$<%= item.price %></p>
            <p><%= item.description %></p>
          </div>
        <% end %>
      <% end %>
      
      <!-- Temporary link for development -->
      <%= link_to "Create Menu Item", new_menu_path, class: 'btn btn-default' %>

    </div>
  </div>
</div>