<%= "Tell us about yourself!" %>
  <%= form_for @account, url: member_account_path, html: {method: :put} do |f| %>
    <div class="field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :birthday %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
    <div class="actions form-group">
      <%= f.submit "submit", class: 'btn btn-primary' %>
    </div>
  <% end %>